* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid 1px red;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #1f2937;
  padding: 0px 300px;
}

/* nav header side */

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 0px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
}

.header-links ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* Hero header side */
.header-hero {
  display: flex;
  padding: 100px;
  gap: 60px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.hero-subtext {
  color: #e5e7eb;
}

.header-image-container {
  display: flex;
  justify-content: center;
  background-color: gray;
  padding: 100px 200px;
}

.header-image {
  display: flex;
  align-items: center;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 40px;
  flex-shrink: 0;
}
