* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*---------------------------------
|           NAV HEADER            |
---------------------------------*/

.header-container {
  background-color: #1f2937;
  padding: 0px 300px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
}

.header-links ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/*---------------------------------
|       HERO HEADER SECTION       |
---------------------------------*/

.header-hero {
  display: flex;
  padding: 100px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-subtext {
  color: #e5e7eb;
  font-size: 18px;
  margin-right: 50px;
}

button {
  cursor: pointer;
  padding: 6px 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #3882f6;
}

button.signup-button {
  color: #e5e7eb;
  font-size: 24px;
  margin-top: 10px;
}

.hero-image-container {
  display: flex;
}

.hero-image {
  width: 600px;
}

/*---------------------------------
|          CARDS SECTION          |
---------------------------------*/

.card-section {
  text-align: center;
  padding-bottom: 20px;
}

.cards-title{
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 20px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.card{
  max-width: 300px;
}

.card-image {
  width: 100%;
}

.card-info {
  text-wrap: wrap;
}

.credits {
  margin-top: 50px;
}

/*---------------------------------
|          QUOTE SECTION          |
---------------------------------*/

.quote-section{
  background-color: #e5e7eb;
  padding: 200px 400px;
}

.quote,
.bible-verse{
  font-size: 36px;
  display: flex;
}

.bible-verse {
  justify-content: flex-end;
  font-weight: 900;
}

/*---------------------------------
|      CALL TO ACTION SECTION     |
---------------------------------*/

.call-to-action-section{
  padding: 100px 200px;
  display: flex;
}

.call-to-action-container{
  display: flex;
  background-color: #3882f6;
  flex: 1;
  padding: 60px;
  color: #f9faf8;
  border-radius: 30px;
}

.cta{
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  flex: 1;
}

.call-to-action-title{
  font-size: 36px;
  font-weight: 600;
}

.call-to-action-text{
  color: #e5e7eb;
}

button.cta-button {
  color: #f9faf8;
  font-size: 30px;
  font-weight: bold;
  border: solid 1px white;
}

/*---------------------------------
|          FOOTER SECTION         |
---------------------------------*/

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 40px;
  flex-shrink: 0;
}
